.App {
  text-align: center;
}

.App-header {
  /* min-height: 100vh; */
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.footer,
.footer-link {
  color: white;
  background-color: #282c34;
}

.tempTODO {
  color: #083ca4;
  font-weight: bold;
}
.done {
font-weight: normal;
}

.tempOl {
  text-align: left;
  font-weight: bold;
}

.do_not_start_error {
  color: white;
  font-weight: bold;
  background-color: #901b13;
}

.error_intro {
  text-align: left;
}

#map {
  height: 50vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
